@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import '@conceptadev/docs-theme/theme.css';

@source '../packages/docs-theme/src';
@source '../content/docs';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0 !important;
  --removed-body-scroll-bar-size: 0px !important;
}
